div{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: cornflowerblue;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0));
    transition: .5s;
}

div:hover{
    background-color: chartreuse;
}

/* 
button {
    width: 250px;
    background-color: cornflowerblue;
    background-image: linear-gradient( rgba(255, 255, 255, 0), white);
    transition: 1s;
    border: none;
    border-radius: 5px;
    font-size: 50px;
    color: white;
  }
  button:hover {
    background-color: rgb(152, 75, 224);
    background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    color: black;
  } */

  button{     
      display: inline-block;     
      height: 200px;     
      width: 200px;     
      transition: .5s;     
      background-color: rgb(255, 187, 0);     
      background-image: linear-gradient(white, rgba(255,255,255,0));     
      color: salmon;     
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
      text-transform: uppercase;     
      font-weight: 700;     
      border: none; 
    } 
 button:hover{     
     background-color: red;     
     color: seagreen;     
     background-image: linear-gradient(360deg, white, rgba(255,255,255,0)); 
    }